<div class = "row">
	<div class = "col-md-4">
		<%= render @user %>
	</div>
	<div class = "col-md-8">
	  <div  class = "row">
	  	<%= render "shared/links" %>
	  </div>
	  <div class = "row" id = "activity">
	  	<%= render "shared/activity" %>
	  </div>
	</div>
</div>