<% provide(:title, @user.name) %>
<div>
    <div class = "row">
        <!-- Begin user div -->
        <div class = "col-md-4">
            <%= render @user %>
        </div>
        <div class = "col-md-8">
        </div>
    </div>
</div>