
default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: "123456"
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: demo_development
test:
  <<: *default
  database: demo_test
production:
  <<: *default
  database: demo_production
  username: demo
  password: <%= ENV['DEMO_DATABASE_PASSWORD'] %>
